<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="../static/css/home_page.css">
    <link rel="stylesheet" href="../static/css/authentication.css">
    <script type="text/javascript">

    </script>
</head>

<body	class="body" >
<div style="text-align: center;">
    <h1> Welcome Guest!! </h1>
<form method="post">
    <div class="imgcontainer">
        <img src="../static/images/avatar.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <BR>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <BR>
        <button type="submit">Login</button>
        <BR>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container">
        <span class="remember"><a href="../static/signup.html">Register new user</a></span>&nbsp;&nbsp;&nbsp;
        <span class="remember"><a href="#">Forgot password?</a></span>
    </div>
</form>
</div>

</body>

</html>